Лаба 1/lab7-10/lab8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stop">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:integer" name="id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="time" type="xs:time"/>

  <xs:element name="price" type="xs:decimal"/>

  <xs:element name="free" type="xs:integer"/>

  <xs:element name="tour">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="time"/>
        <xs:element ref="price"/>
        <xs:element ref="free"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="to">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:integer" name="id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="stops">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="stop" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="date" type="xs:date"/>

  <xs:element name="tours">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tour" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="to"/>
        <xs:element ref="stops"/>
        <xs:element ref="date"/>
        <xs:element ref="tours"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bus" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>